<h2><%= current_user.first_name %>'s TROLLO</h2>
<hr />

<div class= "ui card">
  <div class "content">
    <div class = "center aligned header"><h3>YOUR BOARDS<h3></div>
      <% @boards.each do |b| %>
        <li class = "center aligned description">
            <%= link_to b.name, board_lists_path(b) %><%= button_to " Delete", b, method: :delete %> 
            <br />
        </li>
      <% end %>
    </div>
</div>
<%= link_to "Create New Board", new_board_path, class: "ui green button" %> 