<h2><%= current_user.first_name %>'s TROLLO</h2>
<hr />

<h3> YOUR BOARDS </H3>

<ul>
  <% @boards.each do |b| %>
    <li>
        <%= link_to b.name, board_lists_path(b)%>
    </li>
  <% end %>
</ul>
<%= link_to "Create New Board", new_board_path, class: "ui primary button" %> 